.wrap {
  width: 100%;
  max-width: 80%;
  margin: auto;
  position: relative;
  min-height: 100%;
  padding-bottom: 84px;
}

/* header */
header {
  display: flex;
  flex-direction: column;
  background: url(./img/sample/backgrond.png) center center;
  padding: 20px;
}

.header-inner {
  width: 100%;
  max-width: 80%;
  color: #fff;
  margin: 0 auto;
}

.nav {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.nav ul {
  display: flex;
}

.nav li {
  font-size: 20px;
  padding: 20px;
}

.nav li a {
  color: #fff;
}

header form {
  text-align: center;
}

.header-search {
  width: 50%;
  height: 50px;
  padding: 12px 12px;
  color: #333;
  font-size: 18px;
  border: #c9c9c9 2px solid;
  border-radius: 6px;
  outline: 0;
  margin-bottom: 2rem;
}

/* footer */
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.inner {
  background: #eee;
}

/* component */
/* Alert */
.notice-alert {
  color: #999faa;
  background: #212326;
  border: 1px solid #ff7363;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  box-shadow: inset 0 0 20px #111;
  line-height: 22px;
}

.notice-alert h2 {
  color: #ff7363;
  margin-bottom: 20px;
}

.notice-alert button {
  color: #64bfff;
  background: #000;
  display: inline-block;
  border: 1px solid #555;
  border-radius: 3px;
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
}

/* Char */
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.char-main {
  background: #e6e6e6;
}
.char-title {
  background: #293c66;
  color: #fff;
  padding: 4px 8px 4px 8px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
.search-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 20px;
}

.input-search {
  height: 100%;
  padding: 12px;
}

.input-button {
  height: 100%;
  color: #64bfff;
  background: #000;
  display: inline-block;
  border: 1px solid #555;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

.char-ul {
  padding: 20px;
}

.char-list {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #999;
  cursor: pointer;
}

.avatar {
  margin-right: 20px;
}

.avatar-img {
  border-radius: 50%;
}

.char-server {
  font-size: 15px;
  color: #999;
}

.history-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
