/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  height: 100%;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #000;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  overflow-x: hidden;
  height: 100%;
}

button {
  cursor: pointer;
}
